{% extends "base.html" %}
{% load static from staticfiles %}

{% block page_content %}

    <!-- page content -->
    <div class="right_col" role="main"  style="background-color: #ecedef;">
      <section class="section-fluid" style="padding-left: 0px;">
          <div class="col-xs-12 heading-container ">
            <h1 id="job-listing-heading" class="heading__seo-heading" style="width: 100%;">
                <span class="heading--inline results-wording" data-id="page-heading">
                    Business Plans —
                </span>
                <span id="job-listing-count" class="heading--inline results-count">
                    <span>{{ bplans.count }}  </span>
                </span>
                <span class="btn" style="margin-left:10px; font-size: 1.5rem;color: #ff7300;background-color: #fff;">Space used: {{ user_profile.get_usage }} Mbs</span>
            </h1>

          </div>

            <div class="clearfix"></div>
          <div class="job-listing-container" style="width: 100%!important;padding: 0rem 0px;background-color: #fff;">
            {% if bplans.count < 1 %}
                <h3>You don't have any business plans.  </h3><a href="/dashboard/new/business-plan" style="text-decoration: underline;"><i class="fa fa-plus"></i> Create business plan</a>
            {% else %}
                <!-- start project list -->
                <table class="table" style="width:100%;">
                  <tbody>
                    {% for bplan in bplans %}
                    <tr style="">
                        <td style="width: 50px; height: 50px;">
                            <img style="" width="50" height="50" src="{{ bplan.logo }}">
                        </td>
                      <td style="border-bottom: 1px;padding-top: 2rem; padding-left: 1.3rem;">
                          <div style="margin-bottom: 10px;">
                            <a href="/dashboard/business-plan/view?id={{ bplan.id }}" style="color: #4774b7; font-size: 17px;font-weight: 700;">{{ bplan.company_name }}</a>
                          </div>
                          <div style="margin-bottom: 30px;">
                            <span style="color: #707276;font-size: 14px;"><span class="fa fa-clock-o"></span> Created {{ bplan.date_created }} </span>
                          </div>
                      </td>
                      <td style="border-bottom: 1px;width: 260px;">
                        <div style="margin-bottom: 10px;">
                              <a style="color: #707276!important; font-size: 14px!important;float: right;" href="/dashboard/delete/business-plan?id={{ bplan.id }}" class="btn-xs" data-toggle="confirmation" data-popout="true"><i class="fa fa-trash-o"></i> Delete </a>
                              <a style="color: #707276!important; font-size: 14px!important;float: right;" href="/dashboard/view/business-plan?id={{ bplan.id }}" class="btn-xs"><i class="fa fa-pencil"></i> Edit </a>
                              <br/><br/><br/>
                              <a style="color: #707276!important; font-size: 14px!important; float: right;margin-right: 5px;" href="/dashboard/business-plan/download?id={{ bplan.id }}" target="_blank" class=""><i class="fa fa-file-pdf-o"></i> download PDF</a>
                          </div>

                      </td>
                    </tr>
                  {% endfor %}
                  </tbody>
                </table>
                <!-- end project list -->
            {% endif %}
        </div>


      </section>
    </div>
    <!-- /page content -->

{% endblock %}