{% extends "base.html" %}
{% load static from staticfiles %}

{% block page_content %}
    <div class="right_col bg-white" role="main"  style="min-height: calc(100vh + 100px);padding: 0px;">
        <div class="clearfix"></div>
        <section class="section-fluid">
            <br/>
          <div class="textStack" style="text-align: center;">
            <h1 class="header--heading">
              Quit spending time on guesswork and build great business plans quickly and effortlessly!
            </h1>
          </div>
        </section>

        <div class="container" style=";padding-bottom: 50px;padding-top: 30px;">

          {% if user.username == None or user.username == '' %}
          <div class="-small-center">
              <div class="col-xsmall-12 col-small-8 col-large-6 col-xlarge-4">
                  <button class="signupForm-submit submit button -large" tabindex="" title="Sign Up" data-toggle="modal" data-target="#signup">
                        Get Started
                    </button>
                </div>
          </div>
          {% endif %}
      </div>
  </div>
{% endblock %}
