{% extends "base.html" %}
{% load static from staticfiles %}

{% block page_content %}
    <!-- page content -->
    <div class="right_col" role="main"  style="background-color: #ecedef;padding-top: 0px;margin-top: 0px;">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-12">
            <div class="x_panel" style="background-color: #ecedef;border: none;margin: 0px;padding: 0px;">
              <div class="x_content">
                <div class="row">
                    <div class="center-div">
                        {% include "sign-in-form.html" %}
                    </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
{% endblock %}

